name: Deploy Plugin

on:
  push:
    tags:
      - '*.*.*'

jobs:

  tags-check:
    name: Check tagged branch
    if: contains(github.ref, 'tags/')
    uses: tarosky/workflows/.github/workflows/check-tag-in-branch.yml@main
    with:
      allowed_branch: "main"

  release:
    name: Create Release
    needs: tags-check
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer install --no-dev --prefer-dist --no-progress

      - name: Build
        run: |
          PREFIX="refs/tags/"
          VERSION=${GITHUB_REF#"$PREFIX"}
          echo "Building v${VERSION}..."
          sed -i "s/Version: .*/Version: ${VERSION}/g" ./boswell.php
          curl -L https://raw.githubusercontent.com/fumikito/wp-readme/master/wp-readme.php | php
          sed -i "s/^Stable Tag: .*/Stable Tag: ${VERSION}/g" ./readme.txt

      - name: Zip Archive
        run: |
          REPO=${{ github.event.repository.name }}
          mkdir "${REPO}"
          rsync -av --exclude="${REPO}" --exclude=.git --exclude-from=.distignore ./ "./${REPO}/"
          zip -r "./${REPO}.zip" "./${REPO}"

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload release asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ github.workspace }}/${{ github.event.repository.name }}.zip
          asset_name: ${{ github.event.repository.name }}.zip
          asset_content_type: application/zip
