name: WordPress Plugin Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        php: [ '8.1', '8.4' ]
        wp: [ 'latest' ]
    uses: tarosky/workflows/.github/workflows/wp-unit-test.yml@main
    with:
      php_version: ${{ matrix.php }}
      wp_version: ${{ matrix.wp }}

  phpcs:
    name: PHP Syntax Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer install --no-progress

      - name: PHP CodeSniffer
        run: composer lint

  phplint:
    uses: tarosky/workflows/.github/workflows/phplint.yml@main
    with:
      php_versions: '["8.1", "8.4"]'

  status:
    name: Status Check
    runs-on: ubuntu-latest
    needs: [ test, phpcs, phplint ]
    if: always()
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
